.basic-form-container {
display: flex;
flex-direction: column;
column-gap: 2px;
}

.btn{
  background-color: red;
}

.center-table {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.table-container {
  width: 80%;
}

.centered {
  margin: auto;
}